<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PyHandler1" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Guy\FlaskWebVenv\Scripts\python.exe|D:\Guy\FlaskWebVenv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
