<!DOCTYPE html>
<html>
<body>

<h2>Configuration page</h2>

<form action="/FormFilled" method="post">
  <label for="fname">DB Instance:</label><br>
  <input type="text" id="insname" name="insname" value=""><br>
  <label for="lname">Server Instance:</label><br>
  <input type="text" id="servname" name="servname" value=""><br>
   <label for="fname">Client Name:</label><br>
  <input type="text" id="clientname" name="client" value=""><br><br>
  <input type="submit" value="Submit">
</form> 



</body>
</html>
